<!DOCTYPE html>
<html>
  <head>
    <title>About Aiesec Consulting</title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <%= link_to image_tag("Technology-disintermediation.png", alt: "logo") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to image_tag("images (2).jpeg", alt: "logo") %>
      </div>
      <div class="col-md-8">
        <b><p>We are a non-political, independent, not-for-profit organisation run by students and recent graduates of institutions of higher education. Since we were founded in 1948, we have engaged and developed over 1,000,000 young people who have been through an AIESEC experience. The impact of our organisation can be seen through our alumni who represent business, NGO and world leaders.</p>
        <p>Are you a young person looking for opportunities to develop yourself while in college? We are young leaders present in 122 countries striving to create and facilitate opportunities for young people. We recruit twice in a year (February and August) to join our 2500 members across 27 local offices in India.</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1><b>What will you gain?</b></h1>
        <p>The Institute for Commercialization of Florida Technology (formerly known as the Institute for Commercialization of Public Research) requires the services of an individual, a company, an investment firm or an investment fund to act as a Private Fund Manager.  Candidates responding to the RFP shall have experience in investing and managing investments in emerging growth companies in the State of Florida, in addition to other requirements, and shall further provide the Scope of Services referenced herein.</p>
      </div>
      <div class="col-md-4">
        <%= link_to image_tag("LDM_artboard.png", alt: "logo", :size => "450x450") %>
      </div>
      <div class="col-md-2"></div>
    </div>

    
    <a href="https://aiesec.org/about-us"></a>
    
  </body>
</html>
