<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<head>
    <title><%= yield(:title) %> AIESEC CONSULTING</title>
  </head>
<style>
	body{

		background-image: url('/assets/4.jpg');
		background-size: cover;
		padding: 0;
 }
</style>