<div class="center jumbotron">
  <h1>AIESEC CONSULTING</h1>
  <style>  
  .carousel-inner > .item > img,  
  .carousel-inner > .item > a > img {  
      width: 80%;  
      margin: auto;  
  }  
</style> 
	<marquee behavior="left" scrollamount="20">
		<%= link_to image_tag("technology_hands_open.jpg", alt: "logo") %></n>
	</marquee>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<a href="http://www.igridconsulting.com/#whoweare"><h1><b>WHO WE ARE</b></h1></a>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
			<%= link_to image_tag("whoweare.jpeg", alt: "logo") %>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p><b> Aiesec Consulting</b>, based in India with customers across the globe is a leading Microsoft Solutions & Services Company, specialized in SharePoint, Office 365, Power BI and Mobile solutions. Managed and run by young and dynamic professionals, <b>Aiesec</b> has successfully garnered a number of marquee customers in a short period. Please browse through our site to know more.</p>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1><b>Our SharePoint Implementation Phases</b></h1>
	</div>
	<div class="col-md-2"></div>
</div>
<%= link_to image_tag("Slide.png", alt: "logo") %>
<div class="row">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<a href="http://www.igridconsulting.com/what-we-do/"><h1><b>Application Development</b></h1></a>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="col-md-2">
		<%= link_to image_tag("web.png", alt: "logo") %>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p><b>We understand you have specific requirements and there isn’t a solution available off the shelf to meet your business objectives. iGrid will closely work with your organization to analyze your unique business challenges, technology / infrastructure requirements; and develop a custom solution to meet these specifications.</b></p>
		<p><b>Our exposure across industry verticals like Health Care, Pharma, Manufacturing, Education, Hospitality, Energy, Government, BFSL and Legal helps us quickly get on board and deliver a solution in acceptable time frame and budget.</b></p>
		<p><b>Our Custom Application stack includes technologies like ASP.NET, MVC, WCF, WPF, HTML 5, node.JS, angularJS, Java Script, jQuery, Rest API, Ajax, Knockout JS, Bootstrap, MS SQL, MySQL, MogoDB.</b></p>
	</div>

</div>
<div class="container">  
  <h2></h2>  
  <div class="embed-responsive embed-responsive-16by9">  
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe>  
  </div>  
</div>
