<footer class="footer">
  <small>
    The <a href="http://www.igridconsulting.com/">igridconsulting</a>
    by <a href="https://en.wikipedia.org/wiki/AIESEC/">AIESEC</a>
  </small>
  <p><b>AIESEC</b> is a non-governmental not-for-profit organisation in consultative status with the United Nations Economic
  and Social Council (ECOSOC), affiliated with the UN DPI, member of ICMYO, and is recognized by UNESCO.
  AIESEC International is registered as a Foundation (Stichting), RSIN #807103895 in
  Rotterdam, The Netherlands.</p>
  <nav>
    <div class = "row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <p><b>© AIESEC 2018</b></p>
      </div>
      <div class="col-md-5"></div>
  </nav>
</footer>